.offcanvas-sidebar {
  width: 18rem !important;
}

/* main  */
.main {
  background-color: var(--main-background-color);
  height: var(--root-height);
  overflow: scroll;
}

.modal-90w {
  width: 60vw !important;
  max-width: 60vw !important;
}

.main_rendering_contents_height {
  height: calc(var(--main-body-height));
  padding: var(--main-content-padding-y);
}

.overflowY {
  overflow-y: scroll;
}

.main_rendering_contents-footer_height {
  height: calc(var(--root-height) - var(--main-body-height) - var(--header-height));
}

.cursor-pointer {
  cursor: pointer;
}

.spinner-border {
  --bs-spinner-width: 1.5rem !important;
  --bs-spinner-height: 1.5rem !important;
}

.home-main-content {
  height: calc(var(--root-height) - var(--header-height));
  background-color: var(--home-main-content-bg);
  padding: var(--home-main-content-padding);
}

.home-main-content-cards-height {
  height: calc(var(--root-height) - var(--header-height) - 7rem);
  overflow-y: scroll;
}

.breadcums-border {
  border-bottom: 1px solid #9E9E9E;
}

.breadcum-card {
  background-color: #FFF;
  padding: .5rem 2rem;
  margin: 0;
}

.home-content-image-bg {
  background-color: #F8F9FF;
  border-radius: 12px;
  display: inline-flex;
  padding: 4px 62px 16px 50px;
  align-items: center;
  justify-content: center;
}

.home-content-card-para {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.button-secondary-outline {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.494) !important;
  color: rgba(0, 0, 0, 0.494) !important;
}

.btn-transparent {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #dee2e6 !important;
  background-image: none !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:valid:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: #dee2e6 !important;
}


.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: black !important;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #0d6efd !important;
}


.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important
}


.card-border {
  border-radius: 10px;
  border: 1px solid #CECECE;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.card-blue-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5.466px;
  border-radius: 8px;
  background: rgba(51, 123, 255, 0.14);
  padding: .5rem;
}

.location-dotted {
  position: relative;
}

.location-dotted::after {
  content: '';
  position: absolute;
  top: 1.32rem;
  left: .57rem;
  height: .7rem;
  border: 1px dashed black;
}

.placeholder{
  user-select: none;
}

.dashboard-icon{
  background-color: #C71943;
  padding: .3rem;
  border-radius: 8px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: white !important;
  outline: 0;
  box-shadow: none !important;
}
.search-input-padding{
  padding: .4rem 4.4rem .4rem 2rem;
}

.search-input-padding::placeholder{
  font-size: .85rem;
}

.input-group-start-icon{
  position:absolute;
  top: .4rem;
  left: 7px;
  z-index: 1040 !important;
}

.input-group-end-icon-one{
  position:absolute;
  top: .4rem;
  right: 10px;
  z-index: 1040 !important;
}

.input-group-end-icon-two{
  position:absolute;
  top: .4rem;
  right: 40px;
  z-index: 1040 !important;
}

.dashboard-table-height{
  height: calc(var(--root-height) - 22.5rem)
}

.table-head{
  width: 2rem;
  min-width: 2rem !important;
}